const sectionColumnsControlsTemplate = `
<span class="column-type-controls-container">
    {{#ifEquals columnType "single-exclusive-days"}}
    <div class="row col-12 section-columns">
        <div class="col-1" style="padding-top: 76px;">
            <div class="row day-column-container day-header">Sunday</div>
            <div class="row day-column-container day-header">Monday</div>
            <div class="row day-column-container day-header">Tuesday</div>
            <div class="row day-column-container day-header">Wednesday</div>
            <div class="row day-column-container day-header">Thursday</div>
            <div class="row day-column-container day-header">Friday</div>
            <div class="row day-column-container day-header">Saturday</div>
        </div>
        <div class="col-11">
            <div class="row section-columns-container">
                <span class="row col-10 sortable">
                    <div class="row sortable columns-container">
                        {{#each transposedColumns}}
                            <div class="column-container on-update-change-all-days col-2 draggable {{this.[0].source}}" attr-columnIndex="{{@key}}" draggable="true">
                                <p style="cursor: pointer">
                                    <input name="sections.{{../sectionKey}}.days.0.columns.{{@key}}.title" class="multiday-column-name hover-light" type="name" value="{{this.[0].title}}">
                                    <span class="remove-column-container"><a class="remove-column">X</a></span>
                                </p>
                                <p>
                                    <select class="type hover-light" name="sections.{{../sectionKey}}.days.{{this.[0].dayKey}}.columns.{{@key}}.source">
                                        {{#each ../sources}}
                                        <option value="{{this}}" {{#ifEquals this ../this.[0].source}}selected="selected"{{/ifEquals}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </p>
                                {{#each this}}
                                <div class="row day-column-container">
                                    <input class="hidden-source" type="hidden" name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{columnKey}}.source" value="{{ source }}">
                                    <input class="hidden-title" name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{columnKey}}.title" type="hidden" style="width: 65px" value="{{title}}">
                                    <p>Width: <input id="sections-{{../../sectionKey}}-days-{{dayKey}}-columns-{{columnKey}}-width" name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{columnKey}}.width" type="text" class="hover-light" style="width:60px;" value="{{width}}"></p>
                                    <input name="sections.{{../../sectionKey}}.days.{{dayKey}}.columns.{{columnKey}}.dayKey" type="hidden" style="width:50px" value="{{dayKey}}">
                                </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </span>
            <div class="col-2 no-draggable"><button class="add-column hover-light" attr-section="{{ sectionKey }}">Add Column</button></div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="row col-12 section-columns">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="row section-columns-container">
                <span class="row col-10 sortable">
                    {{#each columns}}
                        <div class="column-container col-2 draggable" attr-columnIndex="{{@key}}" draggable="true">
                            <p style="cursor: pointer">COLUMN <span class="remove-column-container"><a class="remove-column">X</a></span></p>
                            <select class="hover-light" name="sections.{{../sectionKey}}.columns.{{@key}}.source">
                                {{#each ../sources}}
                                <option value="{{this}}" {{#ifEquals this ../source}}selected="selected"{{/ifEquals}}>{{this}}</option>
                                {{/each}}
                            </select>
                            <input name="sections.{{../sectionKey}}.columns.{{@key}}.title" type="text" class="hover-light" style="width: 65px" value="{{title}}">
                            <input id="sections-{{../sectionKey}}-columns-{{@key}}-width" name="sections.{{../sectionKey}}.columns.{{@key}}.width" type="text" class="hover-light" style="width:50px" value="{{width}}">
                        </div>
                    {{/each}}
                </span>
            <div class="col-2 no-draggable"><button class="add-column hover-light" attr-section="{{ sectionKey }}">Add Column</button></div>
            </div>
        </div>
    </div>
    {{/ifEquals}}
</span>
`;
